/*.content {
  margin: auto;
  width: 90%;
  transform: translateY(20%);
}

#firstname, #lastname {
  width: 49%;
  display: inline-block;
}

#firstname {
  float: left;
}

#lastname {
  float: right;
}

#dob {
  display: inline-block;
  width: 60%;
  float: right;
}

#dobtext {
  width: 30%;
  display: inline-block;
  float: left;
  min-width: 90px;
}

p {
  padding-top: 2em;
  color: gray;
  text-align: left;
}*/
